@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.intro {
    background: linear-gradient(rgb(87, 136, 226), rgb(137, 144, 146));

}
.section1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;
}


.introo {
    background: linear-gradient(rgb(123, 211, 233), rgb(240, 174, 240));

}
.section2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;
}


.introoo {
    background: linear-gradient(rgb(45, 130, 151), rgb(255, 253, 254));

}
.section3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;


}
.introooo {
    background: linear-gradient(rgb(108, 170, 241), rgb(100, 97, 97));
    .section4 {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatar {
        width: 200px;
        border-radius: 100px;
    
    
    }
}
.introoooo {
    background: linear-gradient(rgb(118, 131, 175), rgb(37, 35, 37));

}
.section5 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    width: 200px;
    border-radius: 100px;
}

.visi{

    background-color: rgb(101, 101, 219);
}

.cc{
    height: 200px;
}

#v{
    color: yellowgreen;
}

.t{
    color: white;
}